@{
    ViewBag.Title = "Access Denied";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/DefectTracking.styles.css" asp-append-version="true" />
<h2 class="text-white">Access Denied</h2>

