@using Microsoft.AspNetCore.Identity
@using DefectTracking.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 9CI Defect Tracking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DefectTracking.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3 same-line ">
            <div class="container-fluid">
                <H2 class="text-white"> 9CI Defect Tracking</H2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @inject SignInManager<User> signInManager
                @if (signInManager.IsSignedIn(User))
                {
                    // signed-in user - Log Out button and username
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbar-nav right">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="btn btn-outline-dark text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="btn btn-outline-dark text-white" asp-area="" asp-controller="User" asp-action="Index">Manage Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-outline-dark text-white" asp-area="" asp-controller="User" asp-action="RegisterAdmin">Register Admin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-outline-dark text-white" asp-area="" asp-controller="User" asp-action="RegisterEmployee">Register Employee</a>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-outline-dark text-white" asp-area="" asp-controller="User" asp-action="RegisterSupplier">Register Supplier</a>
                                </li>
                            }
                            <li class="nav-item">
                                <form method="post" asp-action="Logout" asp-controller="Account" asp-area="">
                                    <input type="submit" value="Log Out" class="btn btn-outline-dark text-white" />
                                    <span class="text-white"> @User.Identity.Name</span>
                                </form>
                            </li>  
                        </ul>
                    </div>
                }    
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
