@model DefectTracking.Models.WarrantyDefects
@{
    ViewBag.Title = "Warranty Defects Form";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site1.css" asp-append-version="true" />
<link rel="stylesheet" href="~/DefectTracking.styles.css" asp-append-version="true" />
<h1 class="mt-3 text-white text-center">Warranty Defects Form</h1>

<form method="post" asp-controller="Forms" asp-action="SaveWarrantyEdits">
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
            <input type="number" asp-for="Id" hidden="hidden"/>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white"><label><h2>New Serial Number</h2></label></div>
        <div class="col-sm-4">
            <input type="number" asp-for="SerialNumber"/>
        </div>
        <div class="text-center">
            <span asp-validation-for="SerialNumber"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white"><label><h2>Old Serial Number</h2></label></div>
        <div class="col-sm-4">
            <input type="number" asp-for="OldSerialNumber" readonly="readonly"/>
        </div>
        <div class="text-center">
            <span asp-validation-for="OldSerialNumber"
                  class="text-danger"></span>
        </div>
    </div>
    <h2 class="mt-3 text-white text-center marginTop">Unit Type</h2>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Pro II</label></div>
        <input type="radio" name="UnitType" value="Pro II" asp-for="UnitType" disabled="disabled" />
    </div>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Classic II</label></div>
        <input type="radio" name="UnitType" value="Classic II" asp-for="UnitType" disabled="disabled" />
    </div>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Micro</label></div>
        <input type="radio" name="UnitType" value="Micro" asp-for="UnitType"  disabled="disabled" />
    </div>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>EMF</label></div>
        <input type="radio" name="UnitType" value="EMF" asp-for="UnitType" disabled="disabled" />
    </div>
    <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>mmWave</label></div>
        <input type="radio" name="UnitType" value="mmWave" asp-for="UnitType" disabled="disabled" />
    </div>
    <h2 class="mt-3 text-white text-center">Defect Type</h2>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Display</label></div>
        <input type="text" asp-for="Display" readonly="readonly" />
        <div class="row text-center">
            <span asp-validation-for="Display"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Calibration/Missing Calibration</label></div>
        <input type="text" asp-for="CalibrationMissingCalibration" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="CalibrationMissingCalibration"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Mechanical Assembly Error</label></div>
        <input type="text" asp-for="MechanicalAssemblyError" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="MechanicalAssemblyError"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Dead or Dying Batteries</label></div>
        <input type="text" asp-for="DeadorDyingBatteries" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="DeadorDyingBatteries"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>PCB Board Defect</label></div>
        <input type="text" asp-for="PCBBoardDefect" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="PCBBoardDefect"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Speaker Quiet</label></div>
        <input type="text" asp-for="SpeakerQuiet" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="SpeakerQuiet"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>No Sound</label></div>
        <input type="text" asp-for="NoSound" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="NoSound"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Switch Not Working</label></div>
        <input type="text" asp-for="SwitchNotWorking" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="SwitchNotWorking"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Button Not Working</label></div>
        <input type="text" asp-for="ButtonNotWorking" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="ButtonNotWorking"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Enclosure Defect</label></div>
        <input type="text" asp-for="EnclosureDefect" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="EnclosureDefect"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <div class="col-sm-2 text-white labelfont"><label>Other...</label></div>
        <input type="text" asp-for="Other" readonly="readonly"/>
        <div class="text-center">
            <span asp-validation-for="Other"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <label class="mt-3 text-white text-center labelfont">Other Defect Problem Decsription</label>
        <input type="text" asp-for="OtherDesc" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="OtherDesc"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <label class="mt-3 text-white text-center labelfont">Description of Problem</label>
        <input type="text" asp-for="ProblemDesc" readonly="readonly" />
        <div class="text-center">
            <span asp-validation-for="ProblemDesc"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <label class="mt-3 text-white text-center labelfont">Work Performed on Unit</label>
        <input type="text" asp-for="WorkPerformed" />
        <div class="text-center">
            <span asp-validation-for="WorkPerformed"
                  class="text-danger"></span>
        </div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: center; align-items: center">
        <label class="mt-3 text-white text-center labelfont">Unit Status</label>
        <input type="checkbox" asp-for="UnitStatus" />
        <div class="text-center">
            <span asp-validation-for="UnitStatus"
                  class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="center">

        <button type="submit" class="btn btn-primary justify-content-right">
            Update
        </button>
        <a class="btn btn-primary justify-content-center" asp-area="" asp-controller="Forms" asp-action="WarrantyIndex">
            Cancel
        </a>
        <a class="btn btn-primary justify-content-left" asp-area="" asp-controller="Home" asp-action="Index">
            Back
        </a>
    </div>

</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@ViewBag.Exception
